# Ignore virtual environment
.venv/
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS junk
.DS_Store
Thumbs.db

# Ignore temporary or extraction dirs if accidentally committed
tmp/
temp/
*.tmp
*.bak

# Ignore logs
*.log
